body {
  background-color: white;
}

.piezaCont{
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 10px;
  position: relative;
}

.imagen2{
  position:absolute;
  left: -100%;
  right: -100%;
  top: -100%;
  bottom: -100%;
  margin: auto;
  min-height: 100%;
  min-width: 100%;
}
.imagenCompleta{
  width: 700px;
  height: 400px;
}

div.header_wrapper img {
  width: 71px;
  height: 50px;
  float: left;
  margin-top: 8px;
}

#heading {
  font-size: 30px;
  margin: 8px;
}

#tracking{
  font-size: 18px;
  color: black;
  margin: 8px;
}

#tracking span {
  margin-right: 40px;
}

#logged_user {
  font-size: 18px;
  color: gray;
  margin: 8px;
}