
html {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
html, body, #root, #root > div {
  height: 100%;
  overflow: hidden;
}

//App component
.container{
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.player{
  display: none
}

.title{
  letter-spacing: 4px;
  text-align: center;
  color: black;
  font-family: 'Megrim', cursive;
  padding-bottom: 45px;
  font-size: 3.5em;
  
}

.titlePrint{
  display:none;
}

//Final Message component
.endImage{
  width: 300px;
  height: 200px;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.endMessage{
  font-size: 25px;
  font-family: 'Megrim', cursive;
}

.endTitle{
  font-size: 45px !important;
  font-family: 'Megrim', cursive;
}

// Initial message component
.initialImage{
  width: 300px;
  height: 200px;
  display: block;
  margin: auto;
  border-radius: 10px;
}

.textTitleInstructions{
  font-size: 25px;
  font-family: 'Delius',cursive;
  margin: 15px;
}

a{
  color: black !important;
}
.textEscapeInstructions{
  font-size: 45px !important;
  font-family: 'Megrim', cursive;

}

.playButton{
  width: 50%;
  margin: auto !important;
}
.textPlayButton{
  font-size: 20px;
  font-family: 'Megrim', cursive;
}
.textStory{
  font-size: 20px;
  text-align: justify;
  font-family: 'Delius',cursive;
  margin: 15px;
}
.cards{
  // let styleCards = {maxWidth:"70px", margin:"auto", marginTop:"10px"};
  max-width: 70px;
  margin: auto;
  margin-top: 10px;
}

.tab{
  font-family: 'Delius';
}
.cont{
  display:block;
  text-align: center;
  margin: 10px;
}

//Timer component
.timePannel{
  font-size: 2.5vw;
  font-family: 'Megrim', cursive;
  margin:auto;
}

.timeInstructions{
  font-size: 20px;
  font-family: 'Megrim', cursive;
  margin: auto !important;
}
//NavBar component
.titleEscapeNavBar{
  // style={{fontFamily:"Megrim", textAlign:"center", width:"50%", fontSize:"3.5vw"}}
  font-family: 'Megrim', cursive;
  text-align: center;
  width: 50%;
  font-size: 3.5vw;
}
.icon:hover{
  transform: scale(1.2);
}
.icon{
  -webkit-transition:all 1s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
}

//Puzzle component
.extraPiece:hover{
  transform: scale(1.2);
  z-index: 1;
}
.extraPiece{
  margin:0.15vw;
  width:auto;
  -webkit-transition:all 1s ease; /* Safari y Chrome */
  -moz-transition:all .9s ease; /* Firefox */
  -o-transition:all .9s ease; /* IE 9 */
  -ms-transition:all .9s ease; /* Opera */
}

.imgPieza:hover{
  border-style: groove;
}


.tablePuzzle{
  padding: 1px;
  border-spacing: 0;
  border-collapse: separate;
  border:3px black solid;
  border-radius: 3px;
  margin: auto;
  margin-bottom: 300px;
}

.tablePuzzle td{
  padding: 0px;
}

.piecePrint{
  display:none;
}

.puzzleArea{
  // style={{display:"flex", alignItems:"center", justifyContent:"center", maxWidth:"100%", marginTop:"2vw"}}
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  margin-top: 2vw;
}


// Print (not displayed in web view)
.tablePrint{
  display: none;
}
.msgPrint{
  display: none;
}
.print{
  visibility:hidden;
}

.printInstructions{
  display:none;
}

.extra td{
  padding: 10px;

}

.fakeAreaContainer{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 35vw;
  height: 28vw;
  margin-bottom: 300px;
  margin-right: auto;
  margin-left: auto;

}


// RESCORM
div.header_wrapper img {
  width: 71px;
  height: 50px;
  float: left;
  margin-top: 8px;
}

#heading {
  font-size: 30px;
  margin: 8px;
}

#tracking{
  font-size: 18px;
  color: black;
  margin: 8px;
}

#tracking span {
  margin-right: 40px;
}

#logged_user {
  font-size: 18px;
  color: gray;
  margin: 8px;
}


@import "print.scss";